html {
  height: 100%;
}
body {
  height: 100%;
}
header {
  z-index: 1000;
}
section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px; /*emanuel 80px*/
}
.section-gray {
  background: #f4f4f4;
}
.italic {
  font-style: italic;
  font-family: "Georgia", "Times New Roman", Times, serif;
}
.roboto {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.heading {
  text-align: center;
  margin-bottom: 40px;
}
.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px auto 20px;
  background: #5091da;
}
h4.heading {
  margin-bottom: 20px;
}
h4.heading:after {
  margin: 10px auto 20px;
  height: 1px;
}
.img-responsive {
  margin: 0 auto;
}
.box {
  margin-bottom: 30px;
}
.no-space .box {
  margin: 0 -15px;
}
.margin-bottom {
  margin-bottom: 30px;
}
/*

=====================
INTRO
=====================

*/
.intro {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  text-align: center;
  color: #fff;
}
.intro h1,
.intro h2,
.intro h3 {
  color: #fff;
}
.intro span.bold {
  font-weight: 700;
}
.intro h1 {
  font-size: 76px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.intro p {
  font-size: 23px;
}
@media (min-width: 1200px) {
  .intro h1 {
    font-size: 116px;
  }
  .intro p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .intro h1 {
    font-size: 42px;
  }
  .intro p {
    font-size: 18px;
  }
}
.intro .icon { /*emanuel*/
  position: absolute;
  bottom: 90px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  /*border: solid 2px #fff;*/
  border-radius: 20px;
  z-index: 3;
  color: #fff;
}
.intro .content {
  position: relative;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 3;
}
.intro.colour-background {
  background: #5091da;
}
.intro.image-background {
  background: url(../img/1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #cfcfcf;
}
/*.intro.image-background .overlay { //emanuel
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #5091da;
  opacity: 0.93;
  filter: alpha(opacity=93);
  z-index: 2;
}*/
.intro a {
  color: #fff;
}
.intro a:hover,
.intro a:focus {
  color: #fff;
}
.no-padding-top {
  padding-top: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
/*

=====================
SERVICES
=====================

*/
.box-services {
  padding: 40px 20px 20px;
  border-bottom: 1px solid #d4d4d4;
  background: #fff;
}
.box-services .icon {
  text-align: center;
  font-size: 25px;
  color: #000;
}
.box-services p {
  color: #999999;
  text-align: center;
  font-size: 11px;
}
/*

=====================
TEAM
=====================

*/
.team-member {
  text-align: center;
  margin-bottom: 40px;
}
.team-member h3 {
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 0.08em;
}
.team-member h3 a {
  color: #555555;
}
.team-member .image {
  margin-bottom: 20px;
}
.team-member p.role {
  color: #999999;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.team-member .social {
  margin-bottom: 20px;
}
.team-member .social a {
  position: relative;
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: bottom;
  top: 0;
  text-decoration: none;
  font-weight: normal;
}
.team-member .social a i {
  vertical-align: bottom;
  line-height: 26px;
}
.team-member .social a.facebook {
  background-color: #4460ae;
}
.team-member .social a.gplus {
  background-color: #c21f25;
}
.team-member .social a.twitter {
  background-color: #3cf;
}
.team-member .social a.instagram {
  background-color: #cd4378;
}
.team-member .social a.email {
  background-color: #4a7f45;
}
.team-member .social a:hover {
  top: -2px;
}
.team-member .text p {
  color: #999999;
  font-size: 11px;
}
/*

=====================
SOCIAL LINKS
=====================

*/
.contact-form {
  margin-bottom: 20px;
}
p.social {
  text-align: center;
  margin-top: 20px;
}
p.social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: bottom;
}
p.social a i {
  vertical-align: bottom;
  line-height: 26px;
}
p.social a.facebook {
  background-color: #4460ae;
}
p.social a.gplus {
  background-color: #c21f25;
}
p.social a.twitter {
  background-color: #3cf;
}
p.social a.instagram {
  background-color: #cd4378;
}
p.social a.email {
  background-color: #4a7f45;
}
/*

=====================
COPYRIGHT
=====================

*/
.copyright {
  margin-top: 40px;
  color: #999999;
}
.copyright p.credit {
  text-align: right;
}
.copyright p.credit a {
  color: #999999;
}
@media (max-width: 991px) {
  .copyright p.credit {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .copyright {
    margin-top: 60px;
  }
}
@media (max-width: 991px) {
  .copyright {
    text-align: center !important;
  }
}
/*

=====================
NAVBAR
=====================

*/
.header {
  width: 100%;
}
.navbar-collapse {
  position: relative;
  z-index: 1003;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 14px;
  background: transparent;
}
.navbar-collapse a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.navbar-header {
  position: relative;
  z-index: 1004;
}
/*

=====================
MAP
=====================

*/
#map {
  height: 400px;
}
/*

=====================
STYLE SWITCHER FOR DEMO
=====================

*/
#style-switch-button {
  position: fixed;
  top: 100px;
  left: 0px;
  border-radius: 0;
  z-index: 2;
}
#style-switch {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  padding: 20px;
  position: fixed;
  top: 140px;
  left: 0;
  background: #fff;
  border: solid 1px #eeeeee;
  z-index: 2000;
}
#style-switch h4 {
  color: #555555;
}
/* ========================================= */
/* THEMING OF BOOTSTRAP COMPONENTS           */
/* ========================================= */
/* nav */
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li > a {
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: rgba(221, 221, 221, 0.18); /*emanuel*/
}
.nav > li.disabled > a {
  color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #5091da;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.nav-tabs > li > a {
  line-height: 1.42857143;
  border-radius: 0 0 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #5091da;
}
.nav-tabs-justified > li > a {
  border-radius: 0;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 0 0 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
/* navbar */
.navbar {
  font-family: 'Open Sans', sans-serif;
  min-height: 60px;
  margin-bottom: 30px;
  border-bottom: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
.navbar-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-collapse.right {
    float: right;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-brand {
  float: left;
  padding: 0 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  padding: 9px 10px !important;
  margin-right: 15px;
  border-radius: 0;
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
}
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-btn.btn-sm {
  margin-top: 11px;
  margin-bottom: 11px;
}
.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #555555;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3c3c3c;
  background-color: #ffffff;
}
.navbar-default .navbar-text {
  color: #555555;
}
.navbar-default .navbar-nav > li > a {
  color: rgba(58,63,81,1);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgba(35,183,229,1);
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: rgba(58,63,81,1);
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-default .navbar-collapse {
  border-color: #e6e6e6;
      background: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #5091da;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #555555;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #5091da;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #5091da;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #555555;
}
.navbar-default .navbar-link:hover {
  color: #5091da;
}
/* scaffolding */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
}
a {
  color: #5091da;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #276bb7;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.img-rounded {
  border-radius: 0;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
/* breadcrumbs */
.breadcrumb {
  padding: 8px 0;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 0;
  text-align: right;
}
.breadcrumb > li + li:before {
  content: ">\00a0";
  color: #cccccc;
}
.breadcrumb > .active {
  color: #999999;
}
@media (max-width: 991px) {
  .breadcrumb {
    padding: 8px 0;
    text-align: center;
  }
}
/* buttons  */
.btn {
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.08em;
  padding: 6px 12px;
  font-size: 11px;
  line-height: 1.42857143;
  border-radius: 0;
}
.btn-primary {
  color: #5091da;
  background-color: #ffffff;
  border-color: #5091da;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #5091da;
  background-color: #ebebeb;
  border-color: #2972c3;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #ffffff;
  border-color: #5091da;
}
.btn-primary .badge {
  color: #ffffff;
  background-color: #5091da;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background: #5091da;
  color: #ffffff;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 0;
}
/* dropdowns */
.dropdown-menu > li > a {
  padding: 5px 20px;
}
/* labels */
.label {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
/* forms.less */
label {
  font-weight: normal;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #999999;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
  opacity: 1 !important;
}
.form-control:focus {
  border-color: #5091da;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(80, 145, 218, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(80, 145, 218, 0.6);
}
.form-group {
  margin-bottom: 20px;
}
/* pager*/
.pager {
  margin: 20px 0;
  border-top: solid 1px #eeeeee;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  background-color: #ffffff;
  border: 1px solid #5091da;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #5091da;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #ffffff;
  border-color: #ddd;
}
/* pagination */
.pagination {
  margin: 20px 0;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #9f9f9f;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 13px;
  font-weight: bold;
  /* height: 20px; */
  padding: 1px;
  height: 20px;
  width: 30px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #00bcd4;
  background-color: transparent;
  border-color: transparent;
  border-radius: 25px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #00bcd4;
  border-color: #00bcd4;
  border-radius: 20px;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: transparent;
  border-color: transparent;
}
/* responsive utilities */
@media (max-width: 767px) {
  .text-center-xs {
    text-align: center !important;
  }
  .text-center-xs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-center-sm {
    text-align: center !important;
  }
  .text-center-sm img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  line-height: 1.3;
  color: #333333;
  letter-spacing: 0.08em;
}
h1,
.h1 {
  font-size: 56px;
}
h2,
.h2 {
  font-size: 42px;
}
h3,
.h3 {
  font-size: 27px;
  font-weight: 700;
}
h4,
.h4 {
  font-size: 21px;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 14px;
  font-weight: 700;
}
h6,
.h6 {
  font-size: 14px;
  font-weight: 700;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
p {
  margin: 0 0 20px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
.text-small {
  font-size: 11px;
}
.text-large {
  font-size: 18px;
}
.text-italic {
  font-style: italic;
}
.text-primary {
  color: #5091da;
}
a.text-primary:hover {
  color: #2b77cc;
}
.bg-primary {
  color: #fff;
  background-color: #5091da;
}
a.bg-primary:hover {
  background-color: #2b77cc;
}
abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted #999999;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  border-left: 5px solid #5091da;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999999;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  border-right: 5px solid #5091da;
}
address {
  margin-bottom: 20px;
  line-height: 1.42857143;
}
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.panel-primary {
  border-color: #5091da;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #5091da;
  border-color: #5091da;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #5091da;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #5091da;
}
.panel-primary .panel-title {
  font-weight: 300;
}
.panel-primary .panel-title a:hover {
  color: #fff;
  text-decoration: none;
}
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #5091da;
  background-color: #ffffff;
}
.nav-pills > li > a > .badge {
  margin-left: 3px;
}































































      .about2{
        -webkit-border-radius: 110px;
        -moz-border-radius: 110px;
        border-radius: 110px;
        color: white;
        background-color: rgba(221, 221, 221, 0.18);
        border: none;
        width: 160px;
        height: 45px;
      }
      .about3{
        -webkit-border-radius: 110px;
        -moz-border-radius: 110px;
        border-radius: 110px;
        color: white;
        background-color: transparent;
        border: none;
        width: 140px;
        height: 45px;
        text-align: center;
        text-transform: capitalize;
      }
      .lead{
        font-size: 12pt !important;
      }
      .blanco{
    color: white;
}
.about22{
    -webkit-border-radius: 110px;
    -moz-border-radius: 110px;
    border-radius: 110px;
    color: white;
    background-color: #00bcd4;
    border: none;
    width: 270px;
    height: 60px;
}
.subs11{
    color: #586368; 
    font-size: 47px;
}
.plan11{
    -webkit-border-radius: 110px;
    -moz-border-radius: 110px;
    border-radius: 110px;
    color: white;
    background-color: #00bcd4;
    border: none;
    width: 350px;
    height: 60px;
}
.plan12{
    -webkit-border-radius: 110px;
    -moz-border-radius: 110px;
    border-radius: 110px;
    color: white;
    background-color: #00bcd4;
    border: none;
    width: 350px;
    height: 60px;
}
.plan13{
    -webkit-border-radius: 110px;
    -moz-border-radius: 110px;
    border-radius: 110px;
    color: white;
    background-color: #00bcd4;
    border: none;
    width: 320px;
    height: 60px;
}
.bfont{
    font-size: 20px;
}
.infohabemus{
    color: #586368; 
    font-size: 36px;
}
.imgbotonhabemus{
    -webkit-border-radius: 110px;
    -moz-border-radius: 110px;
    border-radius: 110px;
    color: white;
    background-color: #00bcd4;
    border: none;
    width: 180px;
    height: 65px;

}
.color6{
    color:#666666;
}
.color7{
    color:rgba(102, 102, 102, 0.55);
}
a:hover, a:focus {
    color: #FFC107;
    text-decoration: none;
}



      @font-face {
        font-family: Heebo-ExtraBold;
        src: url(../css/fonts/Heebo-ExtraBold.ttf);
      }

      @font-face {
        font-family: Heebo-Light;
        src: url(../css/fonts/Heebo-Light.ttf);
      }

      .extrabold{
        font-family: Heebo-ExtraBold;
      }
      .extralight{
        font-family: Heebo-Light;
      }
      p{
        font-family: Heebo-Light;
      }
      
      #about{
        background: url(../img/2.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #cfcfcf;
      }

      #services{
        background: url(../img/3.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #cfcfcf;
      }

      #portfolio{
        background: url(../img/4.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #cfcfcf;
      }

      #text{
        background: url(../img/5.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #cfcfcf;
      }

      #team{
        background: url(../img/6.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #cfcfcf;
      }

      #contact{
        background: url(../img/4.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #cfcfcf;
      }
      #contact-responsive{
        background: url(../img/4.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #cfcfcf;
      }
      #footer1{
        background: url(../img/4.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #cfcfcf;
      }

      .carousel-fade .carousel-inner .item {
          opacity: 0;
          -webkit-transition-property: opacity;
          -moz-transition-property: opacity;
          -o-transition-property: opacity;
          transition-property: opacity;
        }
        .carousel-fade .carousel-inner .active {
          opacity: 1;
        }
        .carousel-fade .carousel-inner .active.left,
        .carousel-fade .carousel-inner .active.right {
          left: 0;
          opacity: 0;
          z-index: 1;
        }
        .carousel-fade .carousel-inner .next.left,
        .carousel-fade .carousel-inner .prev.right {
          opacity: 1;
        }
        .carousel-fade .carousel-control {
          z-index: 2;
        }
        html,
        body,
        .carousel,
        .carousel-inner,
        .carousel-inner .item {
          height: 100%;
        }
 
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f6f6f6;
        }
        label {
            font-weight: bold;
        }
        #wrapper {
            padding: 6px;
            border-bottom: solid 1px rgb(189, 189, 189);
        }
        #scrollable_div1,
        #scrollable_div2,
        #scrollable_div3 {
            height: 320px;
            overflow: auto;
            background-color: rgba(255, 255, 255, 0.5);
            border: 0;
            padding: 10px;
            margin-top: -12%;
            -moz-box-shadow: 0 5px 5px rgba(186, 182, 182, 0.4);
            -webkit-box-shadow: 0 5px 5px rgba(186, 182, 182, 0.4);
            box-shadow: 0 5px 5px rgba(186, 182, 182, 0.4);
        }
    
    #footer2{
      display: none;
    }
    
    #footer1{
      display: block;
    }

    #contact-responsive{
      display: none;
    }
    
    #contact{
      display: block;
    }
    #contact-li{
      display: none;
    }
    
    #contact-lg{
      display: block;
    }
    #idioma-1{
      display: block;
    }
    
    #idioma-2{
      display: none;
    }


        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

            #imglogo{
                margin-left: 5% !important;
            }
            #idioma{
                display: none;
            }
            .about3{
                margin-left: 35% !important;
            }
            .subs11{
                font-size: 30px !important;
            }
            .infohabemus{
                font-size: 30px !important;
            }
            .centt{
                text-align: center !important;
            }
            .centt1{
                font-size: 40px !important;
            }
            .imgbotonhabemus{
                width: 115px !important;
                height: 55px;
            }
            h5{
                text-align: center !important;
            }
            #footer2{
        display: block;
            }
      #footer1{
        display: none;
      }

      #contact-responsive{
        display: block;
      }
      #contact{
        display: none;
      }
      #contact-li{
        display: block;
      }
      #contact-lg{
        display: none;
      }
      #procesa{
        margin-top: 35% !important;
      }
      #conoce{
        margin-top: 30% !important;
      }
      #explora{
        margin-top: 30% !important;
      }
      #saberlo{
        margin-top: 30% !important;
      }
      #idioma-1{
        display: none;
      }
      #idioma-2{
        display: block;
        margin-top: 5%
      }
      #bajar{
        margin-top: 20% !important;
        margin-bottom: 20% !important;
      }



                                #wrapper {
                                    padding: 0px 30px 5px 30px !important;
                                    margin-top: -20% !important;
                                    margin: 0px 10px 0px 10px;
                                    margin-left: -4%;
                                }
                                #botonver{
                                    margin-top: -35%;
                                 }
                                .about22{
                                    width: 250px !important;
                                 }
                                 .plan11{
                                    width: 270px !important;
                                 }
                                 .plan12{
                                    width: 270px !important;
                                 }
                                 .plan13{
                                    width: 270px !important;
                                 }
                                 #panel-em{
                                    display: none !important;
                                 }
                                 #ccs{
                                  margin-top: 3% !important;
                                  margin-left: 1% !important;
                                 }
                                



}
    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
        #imglogo{
        margin-left: 5% !important;
      }
      #idioma{
        display: none;
      }
      .about3{
        margin-left: 35% !important;
      }
      .subs11{
        font-size: 30px !important;
      }
      .infohabemus{
        font-size: 30px !important;
      }
      .centt{
        text-align: center !important;
      }
      .centt1{
        font-size: 40px !important;
      }
      .imgbotonhabemus{
        width: 115px !important;
        height: 55px;
      }
      h5{
        text-align: center !important;
      }
      #footer2{
        display: block;
      }
      #footer1{
        display: none;
      }

      #contact-responsive{
        display: block;
      }
      #contact{
        display: none;
      }
      #contact-li{
        display: block;
      }
      #contact-lg{
        display: none;
      }
      #procesa{
        margin-top: 35% !important;
      }
      #conoce{
        margin-top: 30% !important;
      }
      #explora{
        margin-top: 30% !important;
      }
      #saberlo{
        margin-top: 30% !important;
      }
      #idioma-1{
        display: none;
      }
      #idioma-2{
        display: block;
        margin-top: 5%
      }
      #bajar{
        margin-top: 20% !important;
        margin-bottom: 20% !important;
      }


                                  #wrapper {
                                    padding: 0px 30px 5px 30px !important;
                                    margin-top: -20% !important;
                                    margin: 0px 10px 0px 10px;
                                    margin-left: -4%;
                                  }
                                  #botonver{
                                    margin-top: -35%;
                                  }
                                  .about22{
                                    width: 250px !important;
                                 }
                                 .plan11{
                                    width: 270px !important;
                                 }
                                 .plan12{
                                    width: 270px !important;
                                 }
                                 .plan13{
                                    width: 270px !important;
                                 }
                                 #panel-em{
                                    display: none !important;
                                 }
                                 #ccs{
                                  margin-top: 3% !important;
                                  margin-left: 1% !important;
                                 }
}

@media only screen and (max-width: 992px) {
  #botonver{
    margin-top: -23%;
    margin-left: -8%;
  }
  .about22{
      width: 250px !important;
   }
   .plan11{
      width: 270px !important;
   }
   .plan12{
      width: 270px !important;
   }
   .plan13{
      width: 270px !important;
   }
   #panel-em{
      display: none !important;
   }
   #ccs{
    margin-top: 3% !important;
    margin-left: 1% !important;
   }
}
