    	.iframe-tool{
    		margin-top: -10%; 
    		margin-left:1%; 
    		background: rgba(255, 255, 255, 0.63);
    		border: 0;
    		height: 320px;
    		width: 1160px;
    		border-bottom: solid 1px rgb(189, 189, 189);
    		overflow-y:scroll;
    	}

    	section{
    		color: rgba(102, 102, 102, 0.8);
            position: relative !important;
            padding-top: 80px !important; 
            padding-bottom: 80px !important;
    	}
    	.verplan{
		    -webkit-border-radius: 110px;
		    -moz-border-radius: 110px;
		    border-radius: 110px;
		    color: white;
		    background-color: #00bcd4;
		    border: none;
		    width: 250px;
		    height: 60px;
		}
		body{
			overflow: hidden;
		}
