    @-webkit-keyframes autofill {
        to {
            color: #666;
            background: transparent;
        }
    }

    input:-webkit-autofill {
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }

    #footer2{
      display: none;
    }
    #jjjresp{
      display: none;
    }
    #quinesresp{
      display: none;
    }
    #idiomaresp{
      display: none;
    }
        @font-face {
          font-family: Heebo-ExtraBold;
          src: url(../css/fonts/Heebo-ExtraBold.ttf);
        }

        @font-face {
          font-family: Heebo-Light;
          src: url(../css/fonts/Heebo-Light.ttf);
        }

        .extrabold{
          font-family: Heebo-ExtraBold;
        }
        .extralight{
          font-family: Heebo-Light;
        }
        p{
          font-family: Heebo-Light;
        }

        /*body {
          padding-top: 10px;
          padding-bottom: 10px;
          background: url(../img/LOGIN.jpg);
          background-size: cover;
          background-position: center;
          background-attachment: fixed;
          background-repeat: no-repeat;
          color: #ffffff;
        }*/

        .form-signin {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
          margin-bottom: 10px;
        }
        .form-signin .checkbox {
          font-weight: normal;
        }
        .form-signin .form-control {
          position: relative;
          height: auto;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 6px;
          font-size: 16px;
        }
        .form-signin .form-control:focus {
          z-index: 2;
        }
        .form-signin input[type="email"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        input[type="text"], input[type="password"]{
            background-color: transparent;
            /*color: rgba(255,255,255,0.7);*/
            font-size: 16px !important;
        }
        .list-group-item {
            background-color: rgba(0, 0, 0,0.05);
            border: 1px solid rgba(255,255,255,0.15);
        }

        .form-control::-webkit-input-placeholder { color: rgba(255,255,255,0.6); }
        .form-control:-moz-placeholder { color: rgba(255,255,255,0.6); }
        .form-control::-moz-placeholder { color: rgba(255,255,255,0.6); }
        .form-control:-ms-input-placeholder { color: rgba(255,255,255,0.6); }

        ::-webkit-input-placeholder { 
            color:    #bababa !important;
            font-size: 16px !important;
        }
        :-moz-placeholder { 
           color:    #bababa !important;
           font-size: 16px !important;
           opacity:  1;
        }
        ::-moz-placeholder { 
           color:    #bababa !important;
           font-size: 16px !important;
           opacity:  1;
        }
        :-ms-input-placeholder { 
           color:    #bababa !important;
           font-size: 16px !important;
        }
        div,h5 { font-family: 'Raleway', sans-serif; font-weight: 400; }
        .about2{
                -webkit-border-radius: 110px;
                -moz-border-radius: 110px;
                border-radius: 110px;
                color: white;
                background-color: #00bcd4;
                border: none;
                width: 300px;
                height: 60px;
                font-size: 20px;
                font-weight: bold;
                margin-top: 2%;
        }
        .imgbotonhabemus{
            -webkit-border-radius: 110px;
            -moz-border-radius: 110px;
            border-radius: 110px;
            color: white;
            background-color: #00bcd4;
            border: none;
            width: 100px;
            height: 30px;
        }

        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
            #logo{
                margin-left: 27%;
            }
            #quienes{
                margin-top: -10%;
                margin-right: 8%;
            }
            p{
                font-size: 20pt;
            }
            #condiciones{
                text-align: center;
                position: absolute;
                margin-top: 10%;
            }
            #redes{
                text-align: center;
            }
            .imgbotonhabemus {
                -webkit-border-radius: 110px;
                -moz-border-radius: 110px;
                border-radius: 110px;
                color: white;
                background-color: #00bcd4;
                border: none;
                width: 110px;
                height: 40px;
            }
            
            #footer1{
              display: none;
            }
            #footer2{
              display: block;
            }
            #jjjweb{
              display: none;
            }
            #jjjresp{
              display: block;
            }
            #quinesresp{
              display: block;
            }
            #idiomaresp{
              display: block;
            }
            
        }

        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            #logo{
                margin-left: 27%;
            }
            #quienes{
                margin-top: -10%;
                margin-right: 8%;
            }
            p{
                font-size: 20pt;
            }
            #condiciones{
                text-align: center;
                position: absolute;
                margin-top: 10%;
            }
            #redes{
                text-align: center;
            }
            .imgbotonhabemus {
                -webkit-border-radius: 110px;
                -moz-border-radius: 110px;
                border-radius: 110px;
                color: white;
                background-color: #00bcd4;
                border: none;
                width: 110px;
                height: 40px;
            }
            
            #footer1{
              display: none;
            }
            #footer2{
              display: block;
            }
            #jjjweb{
              display: none;
            }
            #jjjresp{
              display: block;
            }
            #quinesresp{
              display: block;
            }
            #idiomaresp{
              display: block;
            }

            
        }
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.example2 .navbar-brand>img {
  padding: 7px 15px;
}

.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
  top: 50%;
  display: block;
  position: relative;
  height: auto;
  transform: translate(0,-50%);
  margin-right: 15px;
  margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
  z-index: 9999;
}


